.apropos-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.apropos-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.apropos-image,
.apropos-text {
  flex: 1;
  max-width: 45%;
}

.apropos-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 20px;
  object-fit: contain;
}

.apropos-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 20px;
}

.apropos-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.apropos-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
}

.apropos-link {
  color: #272a2e;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.apropos-link:hover {
  text-decoration: underline;
}

.aproposTitre {
  text-align: center;
  color: #ff6600;
  font-size: 45px;
  margin-bottom: 80px;
}

/* Ajout de la responsivité */
@media screen and (max-width: 768px) {
  .apropos-row {
    flex-direction: column;
    align-items: center;
  }

  .apropos-image,
  .apropos-text {
    max-width: 90%;
    text-align: center;
  }

  .apropos-text {
    margin: 20px 0;
  }

  .apropos-text h2 {
    font-size: 22px;
  }

  .apropos-text p {
    font-size: 15px;
  }

  .aproposTitre {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .aproposTitre {
    font-size: 30px;
  }

  .apropos-text h2 {
    font-size: 20px;
  }

  .apropos-text p {
    font-size: 14px;
  }

  .apropos-image {
    max-width: 100%;
    margin: 10px 0;
  }
}
